<!DOCTYPE html>
<html lang="en">

<%- include("partials/header"); -%>  

<body>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
    <%- include("partials/navbar"); -%>

    <h1>Personal project</h1>
    <p>This is a hobby project by Phuong and Vien to support:</p>
    <ul>
        <li>Learning Swedish words</li>
        <li>Learning Web development</li>
    </ul>

    <%- include("partials/footer"); -%>
</body>

</html>