<%- include("partials/header"); -%>
<h1>Personal project</h1>
<p>This is a hobby project by Phuong and Vien to support:</p>
<ul>
    <li>Learning Swedish words</li>
    <li>Learning Web development</li>
</ul>
<%- include("partials/footer"); -%>  