<%- include("partials/header"); -%>  
<div class="input-group search medium-bottom-margin">
    <input class="form-control border-0 rounded-left" type="text" placeholder="Search for a word">
    <span class="input-group-append">
        <button class="btn border-left-0 bg-white" type="button">
            <i class="bi bi-search"></i>
        </button>
    </span>
</div>

<div class="current-word-container view-only normal-bottom-margin d-none">
    <div class="card flashcard flashcard-current flashcard-front d-none">
        <div class="card-body">
            <p class="flashcard-word"></p>
        </div>
    </div>
    <div class="card flashcard flashcard-current flashcard-back d-none"> 
        <div class="card-body container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/flashcard_placeholder.png" alt="Image depicts the example sentence">
                </div>
                <div class="col-md-9">
                    <p class="card-text text-start">Meaning: </p>
                    <p class="card-text text-start">Example: </p>
                </div>
            </div>
            <div class="row justify-content-end">
                <button id="btnEditWord" class="btn btn-outline-secondary bg-none border-0 col-1" type="button">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container current-word-container edit normal-bottom-margin d-none">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="container card flashcard">
                <div class="card-body">
                    <div class="row">
                        <label class="col-4 text-end" for="inputWordInEdit">Word: </label>
                        <input class="col-8" type="text" name="wordInEdit" id="inputWordInEdit">
                    </div>
                    <div class="row">
                        <label class="col-4 text-end" for="inputCategoryInEdit">Category: </label>
                        <input class="col-8" type="text" name="categoryInEdit" id="inputCategoryInEdit">
                    </div>
                    <div class="row">
                        <label class="col-4 text-end" for="inputWordTypeInEdit">Word Type: </label>
                        <input class="col-8" type="text" name="wordTypeInEdit" id="inputWordTypeInEdit">
                    </div>
                    <div class="row extra-info-header">
                        <p class="col-4 text-end">Extra Info: </p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <button id="btnAddExtraInfo" class="btn btn-outline-secondary bg-white rounded-circle" type="button">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container card flashcard">
                <div class="card-body">
                    <div class="row">
                        <label class="col-4 text-end" for="inputDefinitionInEdit">Definition: </label>
                        <input class="col-8" type="text" name="definitionInEdit" id="inputDefinitionInEdit">
                    </div>
                    <div class="row">
                        <label class="col-4 text-end" for="inputExampleInEdit">Example: </label>
                        <input class="col-8" type="text" name="exampleInEdit" id="inputExampleInEdit">
                    </div>
                    <div class="row justify-content-end">
                        <button id="btnSubmitEdit" type="button" title="Update" class="btn btn-outline-dark col-3">
                            <i class="bi bi-cloud-upload"></i>
                        </button>
                        <button id="btnRemoveWord" type="button" title="Delete" class="btn btn-outline-dark col-3">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleControls" class="carousel slide medium-bottom-margin" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner" role="listbox">
        <div class="container">
            <% homeEJSTopPickFlashCards.forEach(function(flashCard, idx, arr) { %>
                <% if (idx % 3 === 0) { %>
                    <% if (0 === idx) { %>
                        <div class="carousel-item active">
                    <% } else { %>
                        <div class="carousel-item">
                    <% } %>
                            <div class="row">
                <% } %>
                                <div class="col-md-4">
                                    <div class="card flashcard">
                                        <div class="card-body">
                                            <p class="flashcard-word"><%= flashCard %></p>
                                        </div>
                                    </div>
                                </div>
                <% if ((idx + 1) === arr.length || (idx + 1) % 3 === 0) { %>
                            </div>
                        </div>
                <% } %>
            <% }) %>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<%- include("partials/footer"); -%>  