body {
    text-align: center;
    background-color: #d4c8c8;
}

.customized-navbar {
	background-color: #e3f2fd;
	padding-left: 2%;
	padding-right: 2%;
}

.large-bottom-margin {
	margin-bottom: 15%;
}

.medium-bottom-margin {
	margin-bottom: 5%;
}

.normal-bottom-margin {
	margin-bottom: 3%;
}

.search {
	padding-left: 15%;
	padding-right: 15%;
}

.search .btn {
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}

.flashcard {
	background-color: rgb(159, 159, 67);
}

.flashcard .flashcard-word{
	font-weight: bold;
	font-size: larger;
}

.flashcard-current .flashcard-word {
	font-size: xx-large;
}

.word-definition-style {
	color: green;
}

.word-example-style {
	color: blue;
}

.view-only {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	width: 100%;
	background-color: #19A7CE;
	position:fixed;
	bottom: 0;
}

footer p {
	font-size: 12px;
	color: #fff;
}
footer .footer-msg {
	margin-top: 1%;
	margin-bottom: 1%;
}
footer .footer-copyright {
	margin-top: 0;
	color: #848080;
}